#login_div {
	margin: auto;
	width: 700px;
	text-align: center;
	position: relative;
	z-index: 100;
}


body, li, form ,img{
	margin: 0px;
	padding: 0px;
}

#f {
	position: relative;
	top: 100%;
	opacity: 1;
    border-radius: 15px;
 border:2px solid rgba(0,0,0,0.4);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 30px;
box-shadow: 10px 10px 20px -8px #000;
    background: rgba(78,78,78,0.5);
    width:300px;
    height:150px;
    margin: auto;
	animation:regMove 1.5s;
	animation-play-state:puase;
	animation-fill-mode:forwards;
	-webkit-animation:regMove 1.5s;
	-webkit-animation-play-state:puase;
	-webkit-animation-fill-mode:forwards;
		-o-animation:regMove 1.5s;
	-o-animation-play-state:puase;
	-o-animation-fill-mode:forwards;
		-moz-animation:regMove 1.5s;
	-moz-animation-play-state:puase;
	-moz-animation-fill-mode:forwards;
	
}
@keyframes regMove {
	from {top: 85%;
		opacity:0.0;
	}
	to {top: 30%;
	opacity:1.0;
	}
}
@-webkit-keyframes regMove {
	from {top: 85%;
		opacity:0.0;
	}
	to {top: 30%;
	opacity:1.0;
	}
}
@-o-keyframes regMove {
	from {top: 85%;
		opacity:0.0;
	}
	to {top: 30%;
	opacity:1.0;
	}
}
@-moz-keyframes regMove {
	from {top: 85%;
		opacity:0.0;
	}
	to {top: 30%;
	opacity:1.0;
	}
}
#background {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -100;
}
#backMask {
	height: 100%;
	width: 100%;
	position: fixed;
	background: #000000;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 10;
}



.input{
	    width:100%;
    margin-top: 5px;
	color:white;
    background:rgba(255,255,255,0.1); 
    border:2px solid rgba(0,0,0,0.4);
    height:35px;
    outline: none;
    border-radius: 10px;
}
#log_btn {
		text-align:center;
    width: 100%;
    
      border: 0px;
    height: 39px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 17px;
    background: rgba(255,255,255,0.3);
    cursor: pointer;
     outline: none;
    float: left;
    position: absolute;
    left:0px;
    top:110px;
   /* margin-top: 20px;*/
}




